{% extends "layout.html" %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static' , filename='img/z.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi I am a simple individual who want life to be exciting and happening throughout different stages of time.</p>
        <p>I created this website to feel encouraged amidst the realisties of life. This also serves the purpose of sharing my passion with the world.</p>
        <p>Music is my escape from the stress of life. It takes me to a different dimension wherein I am always alive and excited. Time flies by whenever you are indulged in something that you actually feel like doing. So to discover your passion figure out the activity where you truely feel alive and life becomes beautiful.</p>
      </div>
    </div>
  </div>

  {% endblock %}

  